.template{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 7%;
    width: 20vw;
    height: 51vh;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

img{
    border-radius: 50%;
}

.figure1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 1rem;
    /* position: absolute; */
}
#SBC{
    margin: 0px;
    font-size: 1.1rem;
    font-weight: lighter;
    color: #828282;
}
img{
    width: 80%;
}

.container_team{
    margin: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.figcaption1{
    padding: 1rem;
    font-size: 1.2rem;
}

.socials {
    display: none;
    text-decoration: none;
}
  
figure:hover + .socials{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-around;
    padding:0rem 7rem 1rem;
}