/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
      /* width: 100%; */
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
      /* width: 100%; */
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 50%;
      /* width: 100%; */
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background: var(--main-gray);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .separator--dots {
    overflow: visible;
    border: 0;
    content: '';
    background-color: var(--main-red);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: relative;
  }
  
  .separator--dots:before {
    content: '';
    background-color: var(--main-red);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    animation: dot-move-left 1s ease-out forwards;
  }
  
  .separator--dots:after {
    content: '';
    background-color: var(--main-red);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    animation: dot-move-right 1s ease-out forwards;
  }
  
  @keyframes dot-move-right {
    0% {
      left: 0;
    }
  
    100% {
      left: 32px;
    }
  }
  
  @keyframes dot-move-left {
    0% {
      left: 0;
    }
  
    100% {
      left: -32px;
    }
  }
  
  /* nav */
  
  .logos {
    padding-right: 100px;
  }
  
  .nav-list {
    padding-left: 4.5rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /* nav end */
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  .left {
    width: 50%;
    float: left;
    text-align: center;
    /* padding: 3rem 5rem; */
    padding: 70px 0px 50px;
  }
  
  .left h1 {
    padding-top: 50px;
    font: 5em 'Montserrat';
    font-weight: 500;
    color: white;
  }
  
  .left h2 {
    padding-top: 30px;
    font-family: 'Esteban';
    font-weight: 500;
    color: white;
    font-size: 3rem;
  }
  
  #date {
    color: #f6bb08;
  }
  
  .timer {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  .timer span {
    display: block;
    font-size: 4.5rem;
  }
  
  #register {
    font-size: 2rem;
  }
  
  #demo {
    font-family: 'Esteban';
    font-size: 4rem;
  }
  
  .right {
    width: 50%;
    float: right;
    text-align: center;
  }
  
  .right img {
    width: 100%;
    height: auto;
  }
  
  .gif {
    margin-top: 20rem;
    padding: 0 0 0 20rem;
    /* padding-left: 20rem; */
  }
  
  @media screen and (max-width: 600px) {
    .welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #000;
      background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    }
  
    .right {
      margin: 2rem 0 0 0;
    }
  
    .left {
      padding: 0 0 4rem 0;
    }
  
    .left h1 {
      padding-top: 100px;
      font: 7.8rem 'Montserrat';
      font-weight: 500;
      color: white;
    }
  
    .about-section-header {
      font-size: 15rem;
      color: white;
    }
  
    .gif {
      width: 100%;
      padding: 0em;
    }
  
    .location-break {
      display: none;
    }
  }
  
  /* About section */
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    /* height: 80vh; */
    padding: 10rem 2rem;
    background-color: var(--main-gray);
  }
  
  .about-section-header {
    max-width: 1500px;
    margin: 0 auto 4rem auto;
    /* border-bottom: 0.2rem solid var(--main-white); */
  }
  
  .about-left {
    width: 30%;
    float: left;
    text-align: center;
    padding-bottom: 250px;
  }
  

  .about-left-left{
    width: 70%;
    float: left;
    text-align: center;
  }

  .about-right {
    width: 70%;
    float: right;
    text-align: center;
    /* padding-bottom: 6rem; */
  }
  
  .about-left>img {
    padding-top: 12rem;
    width: 100%;
    /* border-radius: 50%; */
    /* padding: 50px;  */
    /* margin-left: 150px; */
  }
  
  .about-right>p {
    font-size: 2rem;
    font-weight: 200;
  }
  
  @media screen and (max-width: 600px) {
    .about-section {
      flex-direction: column;
      padding: 4rem 2rem;
    }
  
    .about-left>img {
      padding-top: 0;
    }
  }
  
  /* DETAILS */
  
  .details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10rem 1rem;
    background-color: var(--main-gray);
  }
  
  .details-section-header {
    max-width: 640px;
    margin: 0 auto 1rem auto;
    /* border-bottom: 0.2rem solid var(--main-white); */
  }
  
  .details-para {
    padding: 0 25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
  }
  
  .sub-header {
    font-size: 4.5rem;
  }
  
  .details-sub-head {
    font-size: 3.5rem;
    color: #f6bb08;
  }
  
  .rules {
    padding: 0 25rem;
  }
  
  .details-para-prof {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
  }
  
  .prof-creds {
    font-size: 2rem;
    font-weight: normal;
  }
  
  @media screen and (max-width: 600px) {
    .details-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      /* padding: 10rem 2rem; */
      background: var(--main-gray);
    }
  
    .details-para {
      padding: 0;
    }
  
    .sub-header {
      font-size: 4.5rem;
    }
  
    .details-sub-head {
      font-size: 3.5rem;
      color: #f6bb08;
    }
  
    .rules {
      padding: 0;
      margin-left: 2.5rem;
      text-align: left;
    }
  
    .details-para-prof {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  
  /* THEME */
  
  .theme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10rem 2rem;
    background: #e3edf7;
  }
  
  .theme-section-header>h2 {
    font-size: 6rem;
    padding-top: 10rem;
  }
  
  .theme-section-heading {
    color: black;
    padding-bottom: 3rem;
  }
  
  #theme-info {
    color: black;
    font-size: 20px;
  }
  
  .carousel,
  .item,
  .active {
    height: 70%;
  }
  
  .carousel {
    width: 60% !important;
  }
  
  .carousel-inner {
    width: 100%;
    height: 70%;
  }
  
  @media (max-width: 28.75em) {
    .theme-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 10rem 2rem;
      background: #e3edf7;
    }
  
    .theme-section-header>h2 {
      font-size: 4rem;
    }
  
    .theme-section-heading {
      margin-bottom: 3rem;
    }
  }
  
  